spring:
  datasource:
    #url: "jdbc:h2:mem:testdb"   # in memory
    url: "jdbc:h2:file:./data/demo"   # file storage
    driverClassName: org.h2.Driver
    username: sa
    password:
  h2:
    console.enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    database-platform: org.hibernate.dialect.H2Dialect
    #auto populate data from /resources/data.sql
    defer-datasource-initiaization: true